/*

@media (max-width: 768px) {
    #results { 
        display: none; 
        position: relative;
        top:5px;
        right : 20px;
        width: 470px; 
        border-radius: 5px;
        border: 1px solid #AAA; 
        border-top-width: 0; 
        background-color: #FFF; 
    } 

    #results div { 
        width: 200px;
        text-align: left; 
        border: 0; 
        background-color: #FFF; 
    } 

    #results div:hover, .result_focus { 
        background-color: #DDD !important; 
    } 
}

@media (min-width: 768px) {
    #results { 
        display: none; 
        position: relative;
        top:5px;
        right : 20px;
        width: 650px; 
        border-radius: 5px;
        border: 1px solid #AAA; 
        border-top-width: 0; 
        background-color: #FFF; 
    } 

    #results div { 
        width: 200px;
        text-align: left; 
        border: 0; 
        background-color: #FFF; 
    } 

    #results div:hover, .result_focus { 
        background-color: #DDD !important; 
    } 
}

@media (min-width: 970px) {
    #results { 
        display: none; 
        position:fixed;
        top: 47px;
        
        float: right;
        width: 226px; 
        border-radius: 5px;
        border: 2px solid #AAA; 
        border-top-width: 0; 
        background-color: #FFF; 
    } 

    #results div { 
        width: 200px;
        text-align: left; 
        border: 0; 
        background-color: #FFF; 
    } 

    #results div:hover, .result_focus { 
        background-color: #DDD !important; 
    } 
}*/

#results { 
    display: none; 
    width: 226px; 
    border-radius: 5px;
    border: 2px solid #AAA; 
    border-top-width: 0; 
    background-color: #FFF; 
} 

#results div { 
    width: 200px;
    text-align: left; 
    border: 0; 
    background-color: #FFF; 
} 

#results div:hover, .result_focus { 
    background-color: #DDD !important; 
} 