
.imgaccueil {
    width: 100%;
}

.imageprod {
    width: 190px;
}

.product_view .modal-dialog {
    max-width: 800px;
    width: 100%;
}

.pre-cost {
    text-decoration: line-through;
    color: #a5a5a5;
}

.space-ten {
    padding: 10px 0;
}

.margingbottom {
    margin-bottom: 40px;
}

.checkout {
    padding: 5em 0;
}

.checkout-left-basket h4 {
    padding: 1em;
    background: #84c639;
    font-size: 1.1em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 1em;
}

.checkout-left {
    margin: 2em 0 0;
}

.checkout-left-basket ul li {
    list-style-type: none;
    margin-bottom: 1em;
    font-size: 14px;
    color: #999;
}

.checkout-left-basket {

    position: left;
    padding-left: 0;
}

.checkout-left-basket ul li span {
    float: right;

}

.checkout-left-basket ul li:nth-child(5) {
    font-size: 1em;
    color: #212121;
    font-weight: 600;
    padding: 1em 0;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    margin: 2em 0 0;
}

.checkout-left-basket {
    #float: left;
    width: 100%;
    margin-bottom: 2em;
}

footer {

    botom: 0;
}

.resultatrecherche {
    position: absolute;
    display: inline;
    top: 48px;
}