<footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 2018 - carbouffe web - Kilian Mina - <a href="index.php?uc=cgv">Conditions générales</a> - <a href="index.php?uc=mentionslegales">Mentions Légales</a></p>
      </div>
</footer>