 <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.php">Carbouffe Web</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.php?uc=offrespecial">Offre Spéciale</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.php?uc=produits">Nos Produits</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.php?uc=contact">Contactez-nous</a>
            </li>
			<li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#login-modal">Connectez-vous</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
	
	
<!-- BEGIN # MODAL LOGIN -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header justify-content-center">
				<img class="rounded-circle" id="img_logo" src="images/logo.jpg">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
			</div>
			
			<!-- Begin # DIV Form -->
			<div id="div-forms">
			
				<!-- Begin # Login Form -->
				<form id="login-form" action = "controllers/c_authentification.php?statut=user" method="POST">
					<div class="modal-body">
						<div id="div-login-msg">
							<div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
							<span id="text-login-msg">Taper votre E-mail et votre Mot de passe</span>
						</div>
						<br/>
						<input id="login_username" name="mail" class="form-control" type="email" placeholder="E-mail" required>
						<br/>
						<input id="login_password" name="pass" class="form-control" type="password" placeholder="Mot de Passe" required>
					</div>
					<div class="modal-footer">
						<div>
							<button type="submit" class="btn btn-primary btn-lg btn-block">Se Connecter</button>
						</div>
						<div>
							<a href="index.php?uc=connect"> <button id="login_register_btn" type="button" class="btn btn-link">S'enregistrer</button> </a>
						</div>
					</div>
				</form>
				<!-- End # Login Form -->
				
			</div>
			<!-- End # DIV Form -->
			
		</div>
	</div>
</div>
<!-- END # MODAL LOGIN -->