<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.php">Carbouffe Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="index.php?uc=offrespecial">Offres Spéciales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.php?uc=produits">Nos Produits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.php?uc=contact">Contactez-nous</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.php?uc=profilclient">Mon compte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.php?uc=connect&co=deco">Déconnection</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.php?uc=panier">Votre Panier <i class="fa fa-shopping-cart"></i></a>
            </li>
        </ul>
        <form class="form-inline" method="POST" action="index.php?uc=produits&co=rechercheproduit">                    
            <input type="text" class="search-query form-control mr-sm-2" aria-label="Search" placeholder="Search" name="nomrecherche" id="search" autocomplete="off"/>
            <span class="input-group-btn">
                <button class="btn btn-info" type="button submit">
                    <span class="fa fa-search"></span>
                </button>
            </span>
            <div class="resultatrecherche" id="results"></div>
        </form>

    </div>

</nav>
