<div class="container ">
            <form class="form-horizontal" role="form" name="signin" method="POST" action="index.php?uc=connect&co=register">
                <h2>S'enregistrer</h2>
                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">Prénom</label>
                    <div class="col-sm-9">
                        <input type="text" id="firstName" placeholder="Prénom" name="prenom" class="form-control" autofocus required>
                    </div>
                </div>
				<div class="form-group">
                    <label for="Name" class="col-sm-3 control-label">Nom</label>
                    <div class="col-sm-9">
                        <input type="text" id="Name" name="nom" placeholder="Nom" class="form-control" autofocus required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" id="email" name="email" placeholder="E-mail" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Mot de passe</label>
                    <div class="col-sm-9">
                        <input type="password" id="pass" placeholder="Mot de passe" class="form-control" name="pass" required>
                    </div>
                </div>
				 <div class="form-group">
                    <label for="password" class="col-sm-4 control-label">Confirmer le mot de passe</label>
                    <div class="col-sm-9">
                        <input type="password" id="confirmpass" placeholder="Mot de passe" class="form-control" name="confirmpass"  OnBlur="checkMdp()" required>
                    </div>
                </div>
				
				<label id="mdperror" style="color:red;"></label>
                
				<div class="form-group">
                    <label for="date" class="col-sm-3 control-label" >Date de naissance</label>
                    <div class="col-sm-9">
					<input class="form-control" id="date" name="date" placeholder="JJ/MM/AAAA" type="text"/>

                    </div>
                </div>
				<div class="form-group">
                    <label for="Adresse"  class="col-sm-3 control-label">Adresse</label>
                    <div class="col-sm-9">
                        <input type="text" id="adresse" class="form-control" name="adresse" autofocus required>
                    </div>
                </div>
				<div class="form-group">
                    <label for="Adresse" class="col-sm-3 control-label">Code Postal</label>
                    <div class="col-sm-9">
                        <input type="number" id="Adresse" value="97400 - 97499" class="form-control" min="97400" max="97499" name="codepostale" autofocus required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" required>.  J'accepte les termes  <a href="index.php?uc=cgv">des conditions générales de vente</a>
                            </label>
                        </div>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-block" id="register">Vous enregistrer</button>
                    </div>
                </div>
            </form> <!-- /form -->
        </div> <!-- ./container -->